<div class="main-content">
  <div class="container">
    <div class="col-md-4 ml-auto mr-auto">
      <form class="form" #loginForm="ngForm">
        <div class="card card-login card-plain">
          <div class="card-header ">
            <div >
              <h1 class="h1-login">
                PROINTER
              </h1>
              <h6 class="h6-login">
                IT SOLUTIONS AND SERVICES
              </h6>
            </div>
          </div>
          <div class="card-body ">
            <div
              class="input-group no-border form-control-lg"
              [ngClass]="{ 'input-group-focus': focus === true }"
            >
              <span class="input-group-prepend">
                <div class="input-group-text">
                  <i class="now-ui-icons users_circle-08"></i>
                </div>
              </span>
              <input
                [(ngModel)] = "username"
                name="Username"
                id="Username"
                #Username="ngModel"
                type="text"
                class="form-control"
                placeholder="First Name..."
                (focus)="focus = true"
                (blur)="focus = false"
                required
              />
            </div>
            <div
              class="input-group no-border form-control-lg"
              [ngClass]="{ 'input-group-focus': focus2 === true }"
            >
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="now-ui-icons text_caps-small"></i>
                </div>
              </div>
              <input
                #Password="ngModel"
                [(ngModel)]="password"
                name="Password" 
                id="Password"
                type="password"
                placeholder="Password..."
                class="form-control"
                (focus)="focus2 = true"
                (blur)="focus2 = false"
                (keydown.enter) = "login()"
                required
              />
            </div>
          </div>
          <div class="card-footer ">
            <a
              class="btn btn-primary btn-round btn-lg btn-block mb-3 linkstyle"
              (click) = "login()"
              >{{'LOGIN' | translate}}</a
            >
            <div class="pull-left">
              <h6>
                <a (click)="navigateToRegistration()" class="link footer-link linkstyle">{{'CREATE_AN_ACCOUNT' | translate}}</a>
              </h6>
            </div>
            <div class="pull-right">
              <h6><a href="#support" class="link footer-link">Need Help?</a></h6>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
