<div class="width-100">
  <div class="col-md-12">
    <button type="button" mat-raised-button color="primary" class="button-back outline-unset" (click)="back()"><i
        class="material-icons reply">reply</i>
      {{'BACK' | translate}}</button>
  </div>
  <form #form="ngForm" (ngSubmit)="add(form)" class="m-t-20" autocomplete="off">
    <div class="row">
      <div class="col-md-12">
        <mat-card>
          <mat-card-content>
            <mat-card-title>{{'POLICY_HOLDER_INFO' | translate}}</mat-card-title>
            <br>
            <mat-form-field>
              <mat-select required
                placeholder="{{'POLICY_HOLDER_TYPE' | translate}}" type="text" #PolicyHolderType="ngModel"
                [(ngModel)]="policyHolder.PolicyHolderType" name="PolicyHolderType" id="policyHolderType">
                <mat-option *ngFor="let enum of policyHolderType" [value]="enum.value">
                  {{enum.name | uppercase | translate}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngFor="let err of validationErrors?.PolicyHolderType">
              <span class="help-block text-danger">{{err}}</span>
            </div>
            <mat-form-field class="example-full-width" *ngIf="policyHolder.PolicyHolderType == 0">
              <input type="text" required matInput #FirstName="ngModel" [(ngModel)]="policyHolder.FirstName"
                name="FirstName" placeholder="{{'FIRST_NAME' | translate}}">
            </mat-form-field>
            <div *ngFor="let err of validationErrors?.FirstName">
              <span class="help-block text-danger">{{err}}</span>
            </div>
            <mat-form-field class="example-full-width" *ngIf="policyHolder.PolicyHolderType == 0">
              <input type="text" matInput required #LastName="ngModel" [(ngModel)]="policyHolder.LastName"
                name="LastName" placeholder="{{'LAST_NAME' | translate}}">
            </mat-form-field>
            <div *ngFor="let err of validationErrors?.LastName">
              <span class="help-block text-danger">{{err}}</span>
            </div>
            <mat-form-field class="example-full-width" *ngIf="policyHolder.PolicyHolderType == 1">
              <input type="text" matInput required #CompanyName="ngModel" [(ngModel)]="policyHolder.CompanyName"
                name="CompanyName" placeholder="{{'COMPANYNAME' | translate}}">
            </mat-form-field>
            <div *ngFor="let err of validationErrors?.CompanyName">
              <span class="help-block text-danger">{{err}}</span>
            </div>
            <mat-form-field class="example-full-width" *ngIf="policyHolder.PolicyHolderType == 0">
              <input type="text"  matInput required #PersonalIdentificationNumber="ngModel"
                [(ngModel)]="policyHolder.PersonalIdentificationNumber"   onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="PersonalIdentificationNumber"
                maxlength = "13"
                placeholder="{{'PERSONAL_IDENTIFICATION_NUMBER' | translate}}">
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="policyHolder.PolicyHolderType == 1">
              <input type="text"  matInput required #PersonalIdentificationNumber="ngModel"
                [(ngModel)]="policyHolder.PersonalIdentificationNumber"   onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="PersonalIdentificationNumber"
                maxlength = "13"
                placeholder="{{'ID_NUMBER' | translate}}">
            </mat-form-field>
            <div *ngFor="let err of validationErrors?.PersonalIdentificationNumber">
              <span class="help-block text-danger">{{err}}</span>
            </div>
            <mat-form-field class="example-full-width">
              <input type="text" required matInput #Address="ngModel" [(ngModel)]="policyHolder.Address" name="Address"
                placeholder="{{'ADDRESS' | translate}}">
            </mat-form-field>
            <div *ngFor="let err of validationErrors?.Address">
              <span class="help-block text-danger">{{err}}</span>
            </div>
            <arni-autocomplete #citiesComponent value="policyHolder.CityId" displayField="CityNameMunicipalityCode" name="CityId"
            id="CityId"  [items]="cities"  (onChange)="onSelectedCityChanged($event)"
            [selectedItem]="selectedCity"
            placeholder="{{'CITY_NAME' | translate}}">
          </arni-autocomplete>
          <div *ngFor="let err of validationErrors?.CityId">
            <span class="help-block text-danger"> {{ err }}</span>
          </div>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="outline-unset" mat-raised-button color="primary" name="add"><i
                    class="material-icons check">check</i>
                  {{'SAVE' | translate}}</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </form>
</div>
