<div class="width-100">
  <div class="col-md-12">
    <button type="button" mat-raised-button color="primary" class="button-back outline-unset" (click)="back()"><i
        class="material-icons reply">reply</i>
      {{'BACK' | translate}}</button>
  </div>
  <form #form="ngForm" (ngSubmit)="add(form)" autocomplete="off" class="m-t-20">
    <div class="row">
      <div class="col-md-12">
        <mat-card>
          <mat-card-content>
            <div class="row">
              <div class="col-md-12">
                <mat-card-title>{{'DETAILS' | translate}}</mat-card-title>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input type="text" required matInput #Name="ngModel" [(ngModel)]="contractedComission.Name" name="Name"
                    placeholder="{{'NAME_CONTRACTED_COMISSION' | translate}}">
                </mat-form-field>
                <div *ngFor="let err of validationErrors?.Name">
                  <span class="help-block text-danger">{{ err }}</span>
                </div>

                <mat-form-field>
                  <mat-select required placeholder="{{'INSURANCE_COMPANY' | translate}}" name="InsuranceId" id="InsuranceId"
                    #InsuranceId="ngModel" [(ngModel)]="contractedComission.InsuranceId">
                    <mat-option *ngFor="let insurance of insurances" [value]="insurance.Id">
                      {{insurance.Name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div *ngFor="let err of validationErrors?.InsuranceId">
                  <span class="help-block text-danger">{{err}}</span>
                </div>
                <mat-form-field class="example-full-width">
                  <input type="number" required matInput #ValueOfContractedComission="ngModel" [(ngModel)]="contractedComission.ValueOfContractedComission" name="ValueOfContractedComission"
                    placeholder="{{'VALUE_OF_CONTRACTED_COMISSION' | translate}}">
                </mat-form-field>
                <div *ngFor="let err of validationErrors?.ValueOfContractedComission">
                  <span class="help-block text-danger">{{ err }}</span>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="outline-unset" mat-raised-button color="primary" name="add"><i
                    class="material-icons check">check</i>
                  {{'SAVE' | translate}}</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </form>
</div>
