<div class="width-100">
  <mat-card>
    <mat-card-content><mat-card-title class="p-b-40">{{'OBLIGATE_POLICY_NUMBERS' | translate}}</mat-card-title>
          <div class=row>
      <div class="col-md">
        <arni-autocomplete #insuranceComponent displayField="Name" [items]="insurances"
        [selectedItem]="selectedInsurance" (onChange)="onSelectedChange($event)"
        placeholder="{{'INSURANCE_COMPANY' | translate}}" (click)="getInsurances()" (keydown.enter)="refreshPolicyNumbers()">
      </arni-autocomplete>
      </div>
      <div class="col-md">
        <arni-autocomplete #usersComponent displayField="AssignedToFullName" [items]="agents" [selectedItem]="selectedAgent"
          (onChange)="onSelectedAgentChange($event)" placeholder="{{'SELECT_AGENT' | translate}}" (click)="getAgents()"
          (keydown.enter)="refreshPolicyNumbers()">
        </arni-autocomplete>
      </div>
      <div class="col-md">
        <mat-form-field id="search-input" class="example-full-width">
          <input matInput class="input" type="text" #searchText="ngModel" [(ngModel)]="SearchText"
            name="PolicyNumber" placeholder="{{'POLICY_NUMBER_SEARCH' | translate}}" (keydown.enter)="refreshPolicyNumbers()" />
        </mat-form-field>
      </div>
      <div class="col-md">
        <mat-form-field>
          <mat-select placeholder="{{'STATUS' | translate}}" type="text" #Status="ngModel" [(ngModel)]="filter.Status"
            name="Status" id="Status">
            <mat-option [value]="-1">
              {{'ALL' | translate}}
            </mat-option>
            <mat-option *ngFor="let enum of policyNumberStatus" [value]="enum.value">
              {{enum.name | uppercase | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md">
        <button id="filter1-button" class="primary-button filter-button-mobile" type="button" mat-raised-button color="primary"
        (click)="refreshPolicyNumbers()"><i class="material-icons search">search</i>
          {{'FILTER' | translate}}</button>
      </div>
    </div>
    <p-table #dt [value]="policyNumbers" sortField="Added" [responsive]="true" [paginator]="true" [rows]="10" sortOrder="1"
      [rowsPerPageOptions]="[10,20,30,40,50]" [(selection)]="selectedPolicyNumbers" contextMenuSelectionMode="joint" [lazy]="true" [totalRecords]="totalPolicyNumbers"
      [contextMenu]="cm" [(contextMenuSelection)]="selectedPolicyNumbers" (onContextMenuSelect)="contextMenuSelected($event)" (onLazyLoad)="loadPolicyNumbers($event)">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'InsuranceName'" class="text-right">
            <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
            {{'INSURANCE_COMPANY' | translate}}
          </th>
          <th [pSortableColumn]="'Number'" class="text-right">
            <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
            {{'POLICY_NUMBER' | translate}}
          </th>
          <th [pSortableColumn]="'AddedBy'" class="text-right">
            <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
            {{'ADDED_BY' | translate}}
          </th>
          <th [pSortableColumn]="'AssignedTo'" class="text-right">
            <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
            {{'ASSIGN_TO' | translate}}
          </th>
          <th [pSortableColumn]="'Status'" class="text-right">
            <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
            {{'STATUS' | translate}}
          </th>
          <th [pSortableColumn]="'Added'" class="text-right">
            <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
            {{'ADDED' | translate}}
          </th>
          <th class="w-40 p-10">
            <p-tableHeaderCheckbox *ngIf="showCreated" style="margin-left: -5px !important;"></p-tableHeaderCheckbox>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowIndex="rowIndex" let-policyNumbers>
        <tr  [pContextMenuRow]="policyNumbers" [pSelectableRow]="policyNumbers"  [pSelectableRowIndex]="rowIndex" class="disable_text_highlighting" [class.color]="isPolicyNumberSelected(policyNumbers)">
          <td class="text-right"><span
              class="ui-column-title text-left float-left">{{ 'INSURANCE_COMPANY' | translate }}</span><span
              class="float-right">{{policyNumbers.InsuranceName}}</span></td>
          <td class="text-right"><span class="ui-column-title text-left float-left">{{ 'POLICY_NUMBER' | translate }}</span><span
              class="float-right">{{policyNumbers.Number}}</span></td>
          <td class="text-right"><span class="ui-column-title text-left float-left">{{ 'ADDED_BY' | translate }}</span><span
              class="float-right">{{policyNumbers.UserFullName}}</span></td>
          <td class="text-right"><span class="ui-column-title text-left float-left">{{ 'ASSIGN_TO' | translate }}</span><span
              class="float-right">{{policyNumbers.AssignedTo || '-'}}</span></td>
          <td class="text-right"><span class="ui-column-title text-left float-left">{{ 'STATUS' | translate }}</span><span
              class="float-right">{{policyNumberStatus[policyNumbers.Status].name | uppercase | translate}}</span></td>
          <td class="text-right"><span class="ui-column-title text-left float-left">{{ 'ADDED' | translate }}</span><span
              class="float-right">{{policyNumbers.Added | dateTimeFormat}}</span></td>
          <td class="text-left"><span class="ui-column-title text-left float-left">{{ 'OPTIONS' | translate }}</span>
          <p-tableCheckbox class="float-right" [disabled]="policyNumbers.Status != 0" [value]="policyNumbers"></p-tableCheckbox>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
             <td [attr.colspan]="7" class="text-center">
                <strong>{{'NO_DATA_FOR_SELECTED_FILTERS' | translate}}</strong>
            </td>
        </tr>
      </ng-template>
    </p-table>
    <p-contextMenu #cm appendTo="body" [model]="assignOptions"></p-contextMenu>
    <div class="row">
      <div class="col-md-12">
        <button type="button" [disabled]="selectedPolicyNumbers.length == 0" class="outline-unset" mat-raised-button color="primary" name="add" (click)="assignPolicyNumber(selectedPolicyNumbers)"><i
            class="material-icons check">check</i>
          {{'ASSIGN' | translate}}</button>
      </div>
    </div>
    </mat-card-content>
  </mat-card>
</div>
