<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
   <staticContent>
      <mimeMap fileExtension="." mimeType="text/json" />
    </staticContent>
  <rewrite>
    <rules> 
      <rule name="Main Rule" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="/" />
      </rule>
    </rules>
  </rewrite>
</system.webServer>
</configuration>
<!--ProjectGuid: f3dba53e-b374-414a-ac9f-08226661f22f-->