<div class="popup">
  <form #form="ngForm">
    <div mat-dialog-content>

      <mat-form-field class="example-full-width">
        <input required matInput placeholder="{{'MODEL_OF_VEHICLE' | translate}}" #Model="ngModel"
          [(ngModel)]="vehicleTypeModel.Model" name="Model">
      </mat-form-field>
      <div *ngFor="let err of validationErrors?.Model">
        <span class="help-block text-danger">{{ err }}</span>
      </div>
      <mat-form-field class="example-full-width">
        <input required matInput placeholder="{{'TYPE_OF_VEHICLE' | translate}}" #Type="ngModel"
          [(ngModel)]="vehicleTypeModel.Type" name="Type">
      </mat-form-field>
      <div *ngFor="let err of validationErrors?.Type">
        <span class="help-block text-danger">{{ err }}</span>
      </div>
      <div mat-dialog-actions class="float-right">
        <button mat-button class="bg-danger outline-unset" (click)="close()">{{"CANCEL" | translate}}</button>
        <button mat-button class="bg-success outline-unset" (click)="save(form)">{{"SAVE" | translate}}</button>
      </div>
    </div>
  </form>
</div>
