<div class="popup">
  <form #form="ngForm" (keydown.capslock)="capsLock($event)">
    <div mat-dialog-content>
      <mat-form-field class="example-full-width">
        <input required [type]="hide1 ? 'password' : 'text'" autocomplete="off" matInput
          placeholder="{{'OLD_PASSWORD' | translate}}" #OldPassword="ngModel" [(ngModel)]="passwordChange.OldPassword"
          name="OldPassword" class="mask">
        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide1">
          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <span *ngIf="capsLockOn" class="text-danger support-text">{{'CAPS_LOCK_IS_ON' | translate}}</span>
      <div *ngFor="let err of validationErrors?.OldPassword">
        <span class="help-block text-danger">{{ err }}</span>
      </div>
      <mat-form-field class="example-full-width">
        <input required [type]="hide2 ? 'password' : 'text'" autocomplete="off" matInput
          placeholder="{{'NEW_PASSWORD' | translate}}" #Password="ngModel" [(ngModel)]="passwordChange.Password"
          name="Password" class="mask"
          pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()\-_=+{};:,.>])[A-Za-z\d!@#$%^&*()-_=+{};:,.>]{6,}$'
          readonly onfocus="this.removeAttribute('readonly');">
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide2">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div *ngIf="Password.errors?.pattern">
        <span class="help-block text-danger"> {{'PASSWORD_FORMAT_ERROR' | translate}} </span>
      </div>
      <mat-form-field class="example-full-width">
        <input required [type]="hide3 ? 'password' : 'text'" autocomplete="off" matInput
          placeholder="{{'REPEAT_NEW_PASSWORD' | translate}}" #RepeatPassword="ngModel"
          [(ngModel)]="passwordChange.RepeatPassword" name="RepeatPassword" class="mask"
          pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()\-_=+{};:,.>])[A-Za-z\d!@#$%^&*()-_=+{};:,.>]{6,}$'
          readonly onfocus="this.removeAttribute('readonly');">
        <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide3">
          <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div *ngFor="let err of validationErrors?.RepeatPassword">
        <span class="help-block text-danger">{{ err }}</span>
      </div>
    </div>
    <div mat-dialog-actions class="float-right">
      <button mat-button class="bg-danger outline-unset" (click)="close()">{{"CANCEL" | translate}}</button>
      <button mat-button class="bg-success outline-unset" (click)="save(form)">{{"SAVE" | translate}}</button>
    </div>
  </form>
</div>
