<mat-form-field class="example-full-width">
    <input type="text" #autoCompleteInput
        [name]="name" [id]="id"
        [placeholder]="placeholder" matInput
        [formControl]="autocompleteControl" [(ngModel)]="selectedItem"
        [matAutocomplete]="auto"
        (focus)="focusEmit()"
        (keyup.enter)="keyupEnter($event);closePanel(trigger);selectOneRemaining()"
        (keyup)="keyup($event)"
        #trigger="matAutocompleteTrigger"
      >
    <mat-autocomplete #auto="matAutocomplete"
        [displayWith]="displayFn(displayField)">
        <mat-option *ngFor="let x of filteredOptions | async" [value]="x">
            {{getDescription(x)}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
