<div class="width-100">
  <mat-card>
    <mat-card-content>
      <mat-card-title>{{'VOUCHERS' | translate}}</mat-card-title>
      <div class="row">
        <div class="col-md-12">
          <button type="button" mat-raised-button class="float-right add-button outline-unset"
            (click)="addOrEditVoucher('0')">
            <i class="material-icons add">add</i>
            {{'ADD_NEW_VOUCHER' | translate}}
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field id="search-input" class="example-full-width">
            <input matInput class="input" type="text" #searchText="ngModel" [(ngModel)]="SearchText" name="SearchText"
              placeholder="{{'VOUCHER_NUMBER' | translate}}" (keydown.enter)="refreshVouchers()" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <arni-autocomplete #usersComponent displayField="AssignedToFullName" [items]="agents" [selectedItem]="selectedAgent"
            (onChange)="onSelectedAgentChange($event)" placeholder="{{'ASSIGN_TO' | translate}}" (click)="getAgents()"
            (keydown.enter)="refreshVouchers()">
          </arni-autocomplete>
        </div>
        <div class="col-md">
          <mat-form-field>
            <mat-select placeholder="{{'STATUS' | translate}}" type="text" #Status="ngModel" [(ngModel)]="filter.Status"
              name="Status" id="Status">
              <mat-option [value]="-1">
                {{'ALL' | translate}}
              </mat-option>
              <mat-option *ngFor="let enum of voucherStatus" [value]="enum.value">
                {{enum.name | uppercase | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md">
          <button id="filter1-button" class="primary-button filter-button-mobile" type="button" mat-raised-button color="primary"
          (click)="refreshVouchers()"><i class="material-icons search">search</i>
            {{'FILTER' | translate}}</button>
        </div>
      </div>
      <p-table #dt [value]="vouchers" sortField="Added" [responsive]="true" [paginator]="true" [rows]="10" sortOrder="1"
      [rowsPerPageOptions]="[10,20,30,40]" (onLazyLoad)="loadGreenCards($event)" [totalRecords]="totalVouchers" [lazy]="true">
        <ng-template pTemplate="header">
          <tr>
            <th [pSortableColumn]="'PartnerName'" class="text-right">
              <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
              {{'PARTNER_NAME' | translate}}
            </th>
            <th [pSortableColumn]="'Number'" class="text-right width-150-px">
              <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
              {{'VOUCHER_NUMBER' | translate}}
            </th>
            <th [pSortableColumn]="'Amount'" class="text-right width-150-px">
              <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
              {{'AMOUNT' | translate}}
            </th>
            <th [pSortableColumn]="'Added'" class="text-right">
              <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
              {{'ADDED' | translate}}
            </th>
            <th [pSortableColumn]="'AddedByFullName'" class="text-right">
              <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
              {{'ADDED_BY' | translate}}
            </th>
            <th [pSortableColumn]="'AssignedTo'" class="text-right">
              <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
              {{'ASSIGN_TO' | translate}}
            </th>
            <th [pSortableColumn]="'Status'" class="text-right w-170-px">
              <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
              {{'STATUS' | translate}}
            </th>
            <th class="text-right width-150-px">
              {{'OPTIONS' | translate}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-voucher>
          <tr>
            <td class="text-right"><span
                class="ui-column-title text-left float-left">{{ 'PARTNER_NAME' | translate }}</span><span
                class="float-right">{{voucher.PartnerName}}</span></td>
            <td class="text-right"><span
                class="ui-column-title text-left float-left">{{ 'VOUCHER_NUMBER' | translate }}</span><span
                class="float-right">{{voucher.Number}}</span></td>
            <td class="text-right"><span class="ui-column-title text-left float-left">{{ 'AMOUNT' | translate }}</span><span
                class="float-right">{{voucher.Amount}} KM</span></td>
                <td class="text-right"><span class="ui-column-title text-left float-left">{{ 'ADDED' | translate }}</span><span
                  class="float-right">{{voucher.Added | dateTimeFormat}}</span></td>
                <td class="text-right"><span
                  class="ui-column-title text-left float-left">{{ 'ADDED_BY' | translate }}</span><span
                  class="float-right">{{voucher.AddedByFullName}}</span></td>

                  <td class="text-right"><span class="ui-column-title text-left float-left">{{ 'ASSIGN_TO' | translate }}</span><span
                    class="float-right">{{voucher.AssignedTo == " " ? '-' : voucher.AssignedTo}}</span></td>

                  <td class="text-right"><span class="ui-column-title text-left float-left">{{ 'STATUS' | translate }}</span><span
                    class="float-right">{{voucherStatus[voucher.Status].name | uppercase | translate}}</span></td>

            <td class="detail-icon"><span class="ui-column-title text-left float-left">{{ 'OPTIONS' | translate }}</span><i
                class="ti-pencil text-details m-r-7-negative" (click)="addOrEditVoucher(voucher.Id)"><span class="icon-text">
                  {{'DETAILS' | translate}}</span></i>
              <i class="ti-trash text-danger m-r-7-negative" deleteConfirmation [deleteItemId]="voucher.Id"
                (onDelete)="onDelete($event)"><span class="icon-text">{{'DELETE'| translate}}</span></i>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
              <td [attr.colspan]="8" class="text-center">
                  <strong>{{'NO_DATA' | translate}}</strong>
              </td>
          </tr>
        </ng-template>
      </p-table>
    </mat-card-content>
  </mat-card>
</div>



