<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-10 outline-unset">
  <mat-icon class="font-size-40">account_box</mat-icon>
</button>
<mat-menu #profile="matMenu" class="mymegamenu p-l-20 p-r-30 p-t-10">
  <div class="row m-l-10 width-fit-content p-b-5">
    <mat-icon class="font-size-40">account_box</mat-icon>
    <div class="font-user-details">
      <p class="m-0 p-l-25">{{fullName}}</p>
      <p class="m-0 p-l-25">{{username}}</p>
    </div>
  </div>
  <button mat-menu-item (click)="openUserProfile()" class="outline-unset">
    <mat-icon>person</mat-icon>{{'MY_PROFILE' | translate}}
  </button>
  <button mat-menu-item class="outline-unset" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>{{'SIGN_OUT' | translate}}
  </button>
</mat-menu>
