<div class="width-100">
  <div class="col-md-12">
    <button type="button" mat-raised-button color="primary" class="button-back outline-unset" (click)="back()"><i
        class="material-icons reply">reply</i>
      {{'BACK' | translate}}</button>
  </div>
  <form #form="ngForm" (ngSubmit)="add(form)" autocomplete="off" class="m-t-20">
    <div class="row">
      <div class="col-md-12">
        <mat-card>
          <mat-card-content>
            <div class="row">
              <div class="col-md-12">
                <mat-card-title>{{'DETAILS' | translate}}</mat-card-title>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <mat-select required #InsuranceId="ngModel" [(ngModel)]="policyNumber.InsuranceId" name="InsuranceId"
                    placeholder="{{'INSURANCE_COMPANY' | translate}}">
                    <mat-option *ngFor="let insurance of insuranceCompanies" [value]="insurance.Id">
                      {{insurance.Name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div *ngFor="let err of validationErrors?.InsuranceId">
                  <span  class="help-block text-danger">{{ err }}</span>
                </div>
                <mat-form-field  class="example-full-width">
                  <input [disabled]="policyNumbersRange" type="text" required matInput #Number="ngModel" [(ngModel)]="policyNumber.Number" name="Number"
                    placeholder="{{'POLICY_NUMBER' | translate}}">
                </mat-form-field>
                <div *ngFor="let err of validationErrors?.Number">
                  <span *ngIf="!show" class="help-block text-danger">{{ err }}</span>
                </div>
                <mat-checkbox *ngIf="isNewNumber" color="primary" class="m-r-10" name="range" (change)="showRange($event)" [(ngModel)]="policyNumbersRange">{{"ADD_MORE_POLICY_NUMBERS" | translate}}</mat-checkbox>
                <mat-form-field *ngIf="show" class="example-full-width">
                  <input type="text"  required  matInput #Min="ngModel" [(ngModel)]="from" name="From" id="From"
                    placeholder="{{'POLICY_NUMBERS_FROM' | translate}}">
                </mat-form-field>
                <div *ngFor="let err of validationErrors?.From">
                  <span *ngIf="show" class="help-block text-danger">{{ err }}</span>
                </div>
                <mat-form-field  *ngIf="show" class="example-full-width">
                  <input  type="text" required matInput #To="ngModel" [(ngModel)]="to" name="To"
                    placeholder="{{'POLICY_NUMBERS_TO' | translate}}">
                </mat-form-field>
                <div *ngFor="let err of validationErrors?.To">
                  <span *ngIf="show" class="help-block text-danger">{{ err }}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="outline-unset" mat-raised-button color="primary" name="add"><i
                    class="material-icons check">check</i>
                  {{'SAVE' | translate}}</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </form>
</div>
