<div class="width-100">
  <mat-card>
    <mat-card-content>
      <mat-card-title>{{'INSURANCE_COMPANIES_PREVIEW' | translate}}</mat-card-title>
      <div>
        <button type="button" mat-raised-button class="float-right add-button outline-unset"
        (click)="editInsuranceCompany('0')"><i class="material-icons add">add</i>
          {{'ADD_NEW_INSURANCE_COMPANY' | translate}}</button>
      </div>
      <br>
      <br>
      <br>
      <p-table #dt [value]="insurances" [responsive]="true" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[10,20,30,40,50]">
        <ng-template pTemplate="header">
          <tr>
            <th class="text-right" [pSortableColumn]="'Name'">
              <p-sortIcon [field]="'Name'"></p-sortIcon>
              {{'INSURANCE_COMPANY_NAME' | translate}}
            </th>
            <th [pSortableColumn]="'Label'" class="text-right">
              <p-sortIcon [field]="'Name'"></p-sortIcon>
              {{'LABEL' | translate}}
            </th>
            <th class="text-right">
              {{'OPTIONS' | translate}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-insurance>
          <tr>
            <td class="text-right"><span
                class="ui-column-title text-left float-left">{{ 'INSURANCE_COMPANY_NAME' | translate }}</span><span
                class="float-right">{{insurance.Name}}</span></td>
            <td class="text-right"><span class="ui-column-title text-left float-left">{{ 'LABEL' | translate }}</span><span
                class="float-right">{{insurance.Label}}</span></td>
            <td class="detail-icon"><span class="ui-column-title text-left float-left">{{ 'OPTIONS' | translate }}</span><i
                class="ti-pencil text-details m-r-7-negative" (click)="editInsuranceCompany(insurance.Id)"><span class="icon-text">
                  {{'DETAILS' | translate}}</span></i>
              <button type="button" [disabled]="insurance.HasMainOffices" [class.disabled]="!insurance.HasMainOffices"
                class="border-none-important outline-unset background-inherit" deleteConfirmation [deleteItemId]="insurance.Id"
                (onDelete)="onDelete($event)">
                <i class="ti-trash m-r-12-negative"><span class="icon-text">{{'DELETE' | translate}}</span></i></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="3" class="text-center">
              <strong>{{'NO_DATA' | translate}}</strong>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </mat-card-content>
  </mat-card>
</div>
