<div class="width-100">
  <mat-card>
    <mat-card-content>
      <mat-card-title>{{'OBLIGATE_VOUCHERS' | translate}}</mat-card-title>

      <div class="row m-t-20">
        <div class="col-md-3">
          <mat-form-field id="search-input" class="example-full-width">
            <input matInput class="input" type="text" #searchText="ngModel" [(ngModel)]="SearchText" name="SearchText"
              placeholder="{{'VOUCHER_NUMBER' | translate}}" (keydown.enter)="refreshVouchers()" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <arni-autocomplete #usersComponent displayField="AssignedToFullName" [items]="agents" [selectedItem]="selectedAgent"
            (onChange)="onSelectedAgentChange($event)" placeholder="{{'ASSIGN_TO' | translate}}" (click)="getAgents()"
            (keydown.enter)="refreshVouchers()">
          </arni-autocomplete>
        </div>
        <div class="col-md">
          <mat-form-field>
            <mat-select placeholder="{{'STATUS' | translate}}" type="text" #Status="ngModel" [(ngModel)]="filter.Status"
              name="Status" id="Status">
              <mat-option [value]="-1">
                {{'ALL' | translate}}
              </mat-option>
              <mat-option *ngFor="let enum of voucherStatus" [value]="enum.value">
                {{enum.name | uppercase | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md">
          <button id="filter1-button" class="primary-button filter-button-mobile" type="button" mat-raised-button color="primary"
          (click)="refreshVouchers()"><i class="material-icons search">search</i>
            {{'FILTER' | translate}}</button>
        </div>
      </div>
      <p-table #dt [resizableColumns]="true" [value]="vouchers" sortField="Added" [responsive]="true" [paginator]="true" [rows]="10" sortOrder="1"
      [rowsPerPageOptions]="[10,20,30,40,50]" (onLazyLoad)="loadGreenCards($event)" [totalRecords]="totalVouchers" [lazy]="true"
      contextmenuSelectionMode="joint" [contextMenu]="cm" [(contextMenuSelection)]="selectedVouchers" [(selection)]="selectedVouchers" (onContextMenuSelect)="contextMenuSelected($event)">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'PartnerName'" class="text-right">
            <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
            {{'PARTNER_NAME' | translate}}
          </th>
          <th [pSortableColumn]="'Number'" class="text-right">
            <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
            {{'VOUCHER_NUMBER' | translate}}
          </th>
          <th [pSortableColumn]="'Amount'" class="text-right">
            <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
            {{'AMOUNT' | translate}}
          </th>
          <th [pSortableColumn]="'Added'" class="text-right">
            <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
            {{'ADDED' | translate}}
          </th>
          <th [pSortableColumn]="'AddedByFullName'" class="text-right">
            <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
            {{'ADDED_BY' | translate}}
          </th>
          <th [pSortableColumn]="'AssignedTo'" class="text-right">
            <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
            {{'ASSIGN_TO' | translate}}
          </th>
          <th [pSortableColumn]="'Status'" class="text-right">
            <i class="ui-sortable-column-icon pi pi-fw pi-sort"></i>
            {{'STATUS' | translate}}
          </th>
          <th class="w-40 p-10">
            <p-tableHeaderCheckbox *ngIf="showCreated" style="margin-left: -5px !important;"></p-tableHeaderCheckbox>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-voucher let-rowIndex="rowIndex">
        <tr [pContextMenuRow]="voucher" [pSelectableRow]="voucher" [pSelectableRowIndex]="rowIndex" class="disable_text_highlighting" [class.color]="isNewVoucherSelected(voucher)" >
          <td class="text-right"><span class="ui-column-title text-left float-left">{{ 'PARTNER_NAME' | translate }}</span><span
            class="float-right">{{voucher.PartnerName}}</span></td>
            <td class="text-right"><span class="ui-column-title text-left float-left">{{ 'VOUCHER_NUMBER' | translate }}</span><span
              class="float-right">{{voucher.Number}}</span></td>
          <td class="text-right"><span class="ui-column-title text-left float-left">{{ 'AMOUNT' | translate }}</span><span
              class="float-right">{{voucher.Amount}}</span></td>
              <td class="text-right"><span class="ui-column-title text-left float-left">{{ 'ADDED' | translate }}</span><span
                class="float-right">{{voucher.Added | dateTimeFormat}}</span></td>
          <td class="text-right"><span class="ui-column-title text-left float-left">{{ 'ADDED_BY' | translate }}</span><span
              class="float-right">{{voucher.AddedByFullName}}</span></td>
          <td class="text-right"><span class="ui-column-title text-left float-left">{{ 'ASSIGN_TO' | translate }}</span><span
              class="float-right">{{voucher.AssignedTo == " " ? '-' : voucher.AssignedTo}}</span></td>
          <td class="text-right"><span class="ui-column-title text-left float-left">{{ 'STATUS' | translate }}</span><span
              class="float-right">{{voucherStatus[voucher.Status].name | uppercase | translate}}</span></td>
          <td class="text-left"><span class="ui-column-title text-left float-left">{{ 'OPTIONS' | translate }}</span>
            <p-tableCheckbox class="float-right" [value]="voucher" [disabled]="voucher.Status != 0"></p-tableCheckbox>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="8" class="text-center">
                <strong>{{'NO_DATA' | translate}}</strong>
            </td>
        </tr>
      </ng-template>
    </p-table>
    <p-contextMenu #cm appendTo="body" [model]="assignOptions"></p-contextMenu>
    <div class="row">
      <div class="col-md-12">
        <button type="button" [disabled]="selectedVouchers.length == 0" class="outline-unset" mat-raised-button color="primary" name="add" (click)="assignVoucher(selectedVouchers)"><i
            class="material-icons check">check</i>
          {{'ASSIGN' | translate}}</button>
      </div>
    </div>
    </mat-card-content>
  </mat-card>
</div>
